.bg1{
    background: url("../../img/Bg1.svg") 100% no-repeat $bg-color-primary-1;
    height: 56px;
}

p{
    color: $font-color-primary-1;
    margin-bottom: 0;
}

.bg2{
    background-color: $bg-color-primary-2;
    height: 56px;
}

h1{
    margin-top: 0;
}