/*BG Colors*/
$bg-color-primary-1: #013056;
$bg-color-primary-2: #1b7fd0;
$bg-color-primary-3: #caddea;
$bg-color-primary-4: #075da2;
$bg-color-primary-5: #013056;
$bg-color-primary-hover: #caddea;

/*Text Colors*/
$font-color-primary-1: #caddea;
$font-color-primary-2: #ffffff;
$font-color-primary-3: #1b7fd0;
$font-color-primary-hover: #1b7fd0;


/*Buttons Colors*/
$bg-color-btn-1: #dd0000;
$color-btn-1: #ffffff;
$bg-color-btn-1-hover: #a40000;
$color-btn-1-hover: #ffffff;
$bg-color-btn-2: #075da2;
$color-btn-2: #ffffff;
$bg-color-btn-2-hover: #1b7fd0;
$color-btn-2-hover: #caddea;
$bg-color-btn-3: #1b7fd0;
$color-btn-3: #ffffff;
$bg-color-btn-3-hover: #caddea;
$color-btn-3-hover: #1b7fd0;
