// @font-face {
//   font-family: "fontawesomeRegular";
//   src: url("../fonts/font-awesome/fontawesome-webfont.eot");
//   src: url("../fonts/font-awesome/fontawesome-webfont.eot")
//       format("embedded-opentype"),
//     url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"),
//     url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"),
//     url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"),
//     url("../fonts/font-awesome/fontawesome-webfont.svg") format("svg");
//   font-weight: normal;
//   font-style: normal;
// }


@font-face {
  font-family: "robotoRegular";
  src: url("../fonts/Roboto-Regular/roboto-regular-webfont.eot");
  src: url("../fonts/Roboto-Regular/roboto-regular-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/Roboto-Regular/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/Roboto-Regular/roboto-regular-webfont.woff") format("woff"),
    url("../fonts/Roboto-Regular/roboto-regular-webfont.ttf") format("truetype"),
    url("../fonts/Roboto-Regular/roboto-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoBold";
  src: url("../fonts/Roboto-Bold/roboto-bold-webfont.eot");
  src: url("../fonts/Roboto-Bold/roboto-bold-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/Roboto-Bold/roboto-bold-webfont.woff2")
      format("woff2"),
    url("../fonts/Roboto-Bold/roboto-bold-webfont.woff")
      format("woff"),
    url("../fonts/Roboto-Bold/roboto-bold-webfont.ttf")
      format("truetype"),
    url("../fonts/Roboto-Bold/roboto-bold-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoThin";
  src: url("../fonts/Roboto-Thin/roboto-thin-webfont.eot");
  src: url("../fonts/Roboto-Thin/roboto-thin-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/Roboto-Thin/roboto-thin-webfont.woff2")
      format("woff2"),
    url("../fonts/Roboto-Thin/roboto-thin-webfont.woff")
      format("woff"),
    url("../fonts/Roboto-Thin/roboto-thin-webfont.ttf")
      format("truetype"),
    url("../fonts/Roboto-Thin/roboto-thin-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "robotoMedium";
  src: url("../fonts/Roboto-Medium/roboto-medium-webfont.eot");
  src: url("../fonts/Roboto-Medium/roboto-medium-webfont.eot")
      format("embedded-opentype"),
    url("../fonts/Roboto-Medium/roboto-medium-webfont.woff2")
      format("woff2"),
    url("../fonts/Roboto-Medium/roboto-medium-webfont.woff")
      format("woff"),
    url("../fonts/Roboto-Medium/roboto-medium-webfont.ttf")
      format("truetype"),
    url("../fonts/Roboto-Medium/roboto-medium-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}




// $font-awesome: "fontawesomeRegular";
$font-regular: "robotoRegular";
$font-bold: "robotoBold";
$font-thin: "robotoThin";
$font-medium: "robotoMedium"
